@import 'normalize'

body
  font-size: 62.5%
  background-color: #f6f5f5
  font-family: 'Open Sans', sans-serif
  padding: 1.5rem

#tadas
  margin: 0 auto
  width: 500px
  min-height: 575px
  background-color: white
  border-radius: 3px
  border: 1px solid #e4e4e4

.dragging
  opacity: 0.4

h1
  font-size: 1.8rem
  width: 100%
  padding-bottom: 2rem
  border-bottom: 1px dashed #e4e4e4
  font-weight: bold
  text-align: center
