<ul id="tasks">
  {{#each}}
    <li>{{view 'task'}}</li>
  {{/each}}
</ul>

<div id="bottom-navigation">
  <div class="remaining-count">
    {{pluralize-word 'item' remainingCount}} left
  </div>

  <a {{action 'completeAllTasks'}} id="complete-all" href="#">
    Mark all as complete
  </a>
</div>
